.general {
	background-color: #1a1a1a;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
}

.general h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
}

.accueil {
	height: 900px !important;
}

.preload {
	width: 100%;
	height: 100%;
	background-color: #000000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}

.body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center center;
}

.header {
	position: fixed;
	text-align: center;
	color: white;
	z-index: 3;
	width: 100%;
}

nav a {
	float: right;
}

nav label {
	cursor: pointer;
	float: right;
	margin: 15px 25px 10px 10px;
}

#toggle {
	display: none;
}

.menu-href {
	clear: both;
	float: right;
	max-width: 270px;
	float: right;
	display: none;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.logo {
	float: left;
	margin: 0 0 0 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% auto;
	background-position: center center;
	height: 60px;
	float: left;
}

.clear {
	clear: both;
}

#btn-xl {
	position: relative;
	height: 60px;
	font-size: 20px;
	padding: 0.75rem;
	padding-left: 75px;
	padding-right: 75px;
	border-radius: 0px;
	transition-duration: 0.4s;
	color: #ffffff;
}

#btn-xl::before {
	content: '';
	width: 0%;
	height: 2px;
	display: block;
	background-color: white;
	transition: all ease-in-out 250ms;
}

#btn-xl:hover:before {
	width: 100%;
}

.footer {
	text-align: center;
	background-color: #000000;
	color: #595959;
}

.footer-signature {
	float: right;
	padding-right: 40px;
}

.travel-img {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% auto;
	background-position: center center;
	height: 300px;
	padding: 0px;
}

.about-me-img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 890px;
	padding: 0px;
}

.projet-title-img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 890px;
	padding: 0px;
}

.whiteLine {
	background-color: #ffffff;
	padding: 1px;
	margin-bottom: 2px;
	width: 100%;
}

.hoverHeader:hover {
	background-color: #1a1a1a;
	color: #ffffff;
}

#divForImg {
	position: absolute;
	z-index: 1;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0.8), transparent, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: 0 0 0 0;
}

#divForImg h1 {
	font-size: 100px;
	text-align: center;
	line-height: 450px;
	text-align: center;
}

.black-background {
	background-color: rgba(0, 0, 0, 0.7);
}

.white-background {
	background-color: rgba(255, 255, 255, 0.7);
}

.white-box-main {
	position: relative;
	background-color: rgba(255, 255, 255, 0.7);
}

.white-box-1 {
	position: absolute;
	top: 20%;
	left: 40%;
	height: 50px;
	width: 50px;
	background-color: #ffffff;
	opacity: 0.5;
	animation-name: white-box-1;
	animation-duration: 17s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.white-box-2 {
	position: absolute;
	top: 60%;
	left: 50%;
	height: 30px;
	width: 30px;
	background-color: #ffffff;
	opacity: 0.3;
	animation-name: white-box-2;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.white-box-3 {
	position: absolute;
	top: 40%;
	left: 70%;
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	opacity: 0.4;
	animation-name: white-box-3;
	animation-duration: 13s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.container-flex {
	display: flex;
}

.box-flex {
	flex: 1;
}

.box-flex-accueil-present-1 {
	flex: 1;
	padding: 50px;
}

.box-flex-accueil-present-2 {
	flex: 1;
	margin: 50px;
}

.box-flex-accueil-1 {
	flex: 1;
	margin: 30px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
}

.box-flex-accueil-2 {
	flex: 3;
	z-index: 2;
	position: relative;
	padding: 30px;
}

.box-project-1 {
	flex: 1;
}

.box-project-2 {
	flex: 2;
}

.projet-img {
	background-repeat: no-repeat;
	background-size: 100%;
	height: 500px;
	position: relative;
}

.projet-txt {
	padding: 20px;
	position: relative;
}

.fade-to-left {
	background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 1));
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 1;
}

.fade-to-right {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 1),
		transparent);
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 1;
}

.fade-to-top {
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 1));
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 1;
}

.about-me-title {
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 1;
	text-align: center;
	vertical-align: middle;
}

.fun-facts {
	text-align: center;
}

.img-purpuse {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	height: 600px;
}

.projects {
	padding: 0%;
}

.divTextProject {
	min-height: 300px;
	padding: 20px;
}

.text-input-contacter {
	background: rgba(0, 0, 0, 0);
	border-style: none none solid none;
	color: #ffffff;
}

.text-input-contacter:focus {
	outline-width: 0;
}

.contact-me-jumbotron {
	min-width: 700px;
}

.room {
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 1000px;
	text-align: center;
	color: black;
}

.room h1 {
	font-size: 100px;
}

.name-email {
	width: 250px;
}

.message {
	height: 200px;
	width: 250px;
}

@media ( min-width :300px) {
	#btn-xl {
		margin: auto auto auto auto;
	}
	.container-flex {
		display: block;
	}
	.footer-signature {
		float: none;
		padding-right: 0px;
	}
	.projet-title-img {
		height: 400px;
	}
	.projet-img {
		height: 300px;
	}
	.about-me-img {
		height: 400px;
	}
	.travel-img {
		height: 150px;
	}
	.img-purpuse {
		height: 1000px;
	}
}

@media ( min-width :450px) {
	.name-email {
		width: 200px;
	}
	.message {
		height: 200px;
		width: 400px;
	}
}

@media ( min-width :750px) {
	#btn-xl {
		margin: 0 0 0 0;
	}
	.container-flex {
		display: flex;
	}
	.footer-signature {
		float: right;
		padding-right: 40px;
	}
	.projet-title-img {
		height: 1000px;
	}
	.projet-img {
		height: 500px;
	}
	.about-me-img {
		height: 1000px;
	}
	.travel-img {
		height: 300px;
	}
	.img-purpuse {
		height: 700px;
	}
	.name-email {
		width: 700px;
	}
	.message {
		height: 200px;
		width: 700px;
	}
}

@media ( min-width :1100px) {
	nav a {
		float: none;
	}
	nav label {
		display: none;
	}
	.menu-href {
		display: block;
		float: left;
		clear: none;
		max-width: none;
		float: left;
		text-shadow: none;
	}
}