.general {
	background-color: #1a1a1a;
	color: #ffffff;
	font-family: New Century Schoolbook, TeX Gyre Schola, serif;
	font-size:22px;
}



.body {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% auto;
	background-position: center center;
}

.header {
	text-align: center;
	background-color: #000000;
	color: white;
}

.whiteLine {
	background-color: #ffffff;
	padding: 1px;
	margin-bottom: 2px;
}

.hoverHeader:hover {
	background-color: #1a1a1a;
	color: #ffffff;
}

#divForImg {
	position: absolute;
	z-index: 1000000;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0.8), transparent, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
	left: 0;
	right: 0;
}

#divForImg h1 {
	font-size: 100px; text-align : center;
	line-height: 450px;
	text-align: center;
}

.projet-img {
	height: 100%;
	width: 100%;
}

.fade-to-left {
	
}

.projects {
	padding: 5%;
}

.divTextProject{
	min-height:300px;
	padding:20px;
}